<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <!--<script type="text/javascript" src="/js/index.js"></script>-->
  <script type="text/javascript">

  function analyzeStuff() {
  	
    let success = function(result) {
        $('#result').html(result);
    };

    let error = function(error) {
        console.error("Error while analyzing images: ", error);
    };

    let ajaxSettings = {
        type: "GET",
        url: '/test',
        success: success,
        error: error,
        statusCode: {
            404: function() {
                reject("page not found");
            }
        }
    };

    $.ajax(ajaxSettings);
}
  </script>
</head>
<body>

<label><strong>Upload File : </strong><input type="file" id="uploadfiles1" /></label><br/>
<label><strong>Upload File : </strong><input type="file" id="uploadfiles2" /></label><br/>
<button onclick="analyzeStuff()">Click me</button>
	<div id="result">
	</div>
<!-- Scripts -->
<script src="/js/upload.js"></script>
</body>
</html>