body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#result {
	margin: 0;
}

.loader {
    display: none;
}

#result-images-first #result-score #result-images-second {
	display: none;
}

.loader img {
    width: 300px;
    height: 187px;
}

.red {
	color: red;
}

.green {
	color: green;
}

.row {	
	padding: 20px 20px;
	text-align: center;
	font-size: 15pt;
	font-weight: bold;
}

.row .col-md-1 {	
	margin: 16px;
	width: 120px;
}

.logoICC{
	float: right;
	font-size: 18pt;
}
